html {
    height: 100vh;
}

body {
    background-color: black;
    height: 100%;
    width: 100%;
}

#wrapper{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
}

.section-box{
    height: 810px;
    width: 480px;
}

.left-contents{
    width: 100%;
    height: 220px;
}

#logo{
    width: 190px;
    height:100px;
    padding-top: 100px;
}

.img-box{
    width: 150px;
    height:150px;
    background-color: white;
    flex-basis: 150px;
    border-radius: 3%;
}

.three-box{
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 1.1em;
}

.italic {
    font-style: italic;
}

.title{
    font-size: 2.5em;
    color: white;
}

.text{
    color: white;
}

.login{
    font-size: 1.8em;
    color: white;
    text-align: center;
}

#login-box{
    display: flex;
    align-items: center;
    flex-basis: 80px;
  
}

.box{
    border-radius: 85px 85px 85px 85px;
    height: 35px;
    width: 220px;
}

.b{
    display: block;
    margin: auto;
    align-items: center;
    border-radius: 85px 85px 85px 85px;
    background-color: orange;
    color: white;
    height: 30px;
    width: 150px;
}

#i-d{
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
    line-height: 40px;
}

#p-w{
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
    line-height: 40px;
}


