#container{
    width: 500px;
    margin: 20px auto;
}

.box{
    width: 100px;
    height: 100px;
    float: left;
    margin: 50px;
}

#box1{
    display: block;
    position: relative;
    background-color: #44f;
    animation-name: move;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
    animation-duration: 3s;
}
#box2{
    background-color: #8f06b0;
    border: 1px solid transparent;
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}
#box3{
    background-color: green;
    animation: rotate3D  1.5s infinite, backchange 1.5s infinite;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
    animation-delay: 1s;

}

@keyframes move{
    from{
        left: 0;
    }
    to{
        left: 500px;
    }
}

@keyframes shape{
    form{
        /*transparent: 투명*/
        border: 1px solid transparent;
    }
    to{
        border: 1px solid black;
        border-radius: 50%; /*테두리 둥글게*/
    }
}

@keyframes rotate{
    from{
        background-color: wheat;
        transform: rotate(0deg);
    }
    to{
        background-color: black;
        transform: rotate(45deg) ;
    }
}

@keyframes rotate3D {
    from{
        /*perspective: 원근감*/
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50%{
        transform: perspective(120px) rotateX(-180deg) rotateY(0deg);  
    }
    to{
        transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);

    }
}

@keyframes backchange{
    form{
        background-color: red;
    }
    50%{
        background-color: blue;
    }
    to{
        background-color: burlywood;
    }
}